
.map-container {
	width: calc(100% - 300px);
	height: 100vh;
	margin-left: 300px;
	position: relative;

  }
  
  .panel {
	width: 300px;
	height: 100vh;
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	overflow-y: auto;
	border-right: 1px solid #ddd;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
  }
  

  .panel h4 {
	margin-top: 0;
	font-size: 18px;
	font-weight: bold;
  }
  
  .panel button {
	background-color: #007bff;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	padding: 10px 15px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 14px;
  }
  
  .panel button:hover {
	background-color: #0056b3;
  }
  
  .panel button:disabled{
	background-color: #dc3545;
	color: white;
  }

 
  .directions-details {
	margin-top: 20px;
	background-color: #f9f9f9;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  
  .legend {
	margin-top: 20px;
  }
  
  .legend div {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
  }
  
  .legend span {
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 10px;
  }
  
  

  .top-right-controls {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;
  }
  
  .login-btn {
	padding: 10px 20px;
	background-color: #4285f4;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  .add-restaurant-btn{
	padding: 10px 20px;
	background-color: #4285f4;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 10px;
	
  }
  
  .login-btn:hover {
	background-color: #357ae8;
  }
  
  .top-left-controls {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 2;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropbtn {
	background-color: #4285f4;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 50px;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding: 10px;
  }
  
  .dropdown-content label {
	display: block;
	margin-bottom: 5px;
  }
  
  .dropdown-content label input {
	margin-right: 10px;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  .btn-danger {
	background-color: #dc3545;
	color: white;
  }
  .btn :disabled{
	background-color: #dc3545;
	color: white;

  }
  .btn-primary :disabled{	
	background-color: #dc3545;
	color: white;
  }
  .panel button :disabled{
	background-color: #dc3545;
	color: white;
  }

